<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
  <title>Create</title>
</head>
<body>
<h3>Add product</h3>
<p>
  <a href="/home">
    Back to List
  </a>
</p>
<div id="form">
  <form th:object="${musicForm}" method="POST" novalidate="novalidate"
        enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" th:value="*{id}">
    <div>
      <label>Name</label>
      <input type="text" th:field="*{name}" th:value="*{name}">
    </div>
    <div>
      <label>Singer</label>
      <input type="text" th:field="*{singer}" th:value="*{singer}">
    </div>
    <div>
      <label>Link</label>
      <input type="file" th:field="*{link}" accept="audio/*">
    </div>
    <div>
      <label>Type</label>
      <select th:field="*{type}">
        <option th:each="ctg : ${categories}" th:value="${ctg.name}" th:text="${ctg.name}"></option>
      </select>
    </div>
    <button type="submit">Save</button>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>